@charset "UTF-8";
body{
	background: #eaedf2;
	background: #eaedf2 url(../img/noisebg.png);
}

.CScontenedor{
	margin-top:70px;	
}

.CScentrar{
	text-align:center;
}

textarea{
	resize:none;	
}

/* CSS para login */
form.form-signin{
	padding: 2em;
}

input.firstInput{
	height: auto;
	padding: 10px;
	margin-bottom: 0px;
	border-radius: 5px 5px 0 0;
}

input.lastInput{
	height: auto;
	padding: 10px;
	border-radius: 0 0 5px 5px;
}

button.signIn{
	margin-top: 1em;
}

/* Termina CSS para login */